

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* position: relative; */
}

.logo img{
    width: 120%;
    border-radius:150px;
    /* margin-left: 150px; */
    position: relative;
    left: 100px;
    /* border: 5px solid white; */
}
.navbar{
    display: flex;
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 1;
}
.nav-left{
   width: 30%;
   margin-bottom: 10px;
  
  

}
.nav-right{
width: 70%;
display: flex;
justify-content: center;
align-items: center;

}
.nav-right li{
list-style: none;
padding: 20px;
}
.nav-right li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* font-weight: bold; */
    font-family: 'Roboto', sans-serif;
    /* font-family:  */

    
}
.nav-right li a:hover{
    color: gray;
}
.getquote{
    color: blue;
    background-color: white;
    padding: 20px 40px;
    margin: 0px 20px;
    border-radius: 5px;
    font-size: 18px;
}

.getquote:hover{
    color: gray;

}
.background{
    background: rgba(0, 0,0, 0.7)url("../img/bg-img7.jpg");
    background-size: cover;
 
    
}
.line{

    border-bottom: 0.1px solid gray;
    opacity: 0.99;
}

.sectionOne{
    display: flex;
    height: 85vh;
    justify-content: center;
    
}
.leftpart{
    width: 50%;
   margin-top: 200px;
   margin-left: 220px;
   color: white;
   /* line-height: 50px; */
   /* font-family: 'Roboto', sans-serif; */
  

}
.we{
    font-size: 20px;
    margin-bottom: 30px;

}
.provide{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    width:650px; 
    
}
.animation{
    display: flex;
    margin-bottom: 30px;
}
    .word-transition {
        font-size: 70px;
        font-weight: bold;
        animation: changeWord 4s infinite; /* 3 seconds per word, 3 words */
      }
      
      @keyframes changeWord {
        0%, 100% { opacity: 0; }
        11%, 33% { opacity: 1; }
        44%, 55% { opacity: 0; }
        66%, 88% { opacity: 1; }
      }
.premium{
    font-size: 26px;
    width: 650px;
    margin-bottom: 30px;
}
.play{
    display: flex
}
.btn{
    font-size: 18px;
    padding: 16px 22px;
    background-color: white;
    color: blue;
}
.watch{
    font-size: 26px;
    margin-top: 10px;
    margin-left: 10px;
}
.playbtn{
    display: flex;
    margin-left: 40px;

}
.rightpart{
    width: 50%;
    margin-top: 200px;
    margin-left: 40px;
    
 
}
form{
    width: 400px;
    height: 450px;
    padding: 30px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px
}
.detail{
    margin-bottom: 10px;
  
}
.get{
    font-size: 28px;
    margin-bottom: 10px;
   
    

}

.let{
    font-size:20px;
    color: rgba(0, 0, 0, 0.721);
    margin-bottom: 15px;

}
.name{
    font-size: 18px;
    margin-bottom: 25px;
    text-align: left
}
input{
    padding: 14px 78px;
    border-color: rgba(128, 128, 128, 0.33);
   

}
.btn1{
    font-size: 18px;
    padding: 14px 20px;
    background-color:blue;
    color: white;
    border: none;
    border-radius: 10px;
}


    


.sectionTwo{
    height: 60vh;
    background-color: rgba(128, 128, 128, 0.293);
  

    
    
}
 .center{
    max-width: 60%;
    margin: auto;
 
 }
    
 .firstboxline , .secodboxline{
    display: flex;
   
 }
   
   

.box1{
    height: 205px;
    width: 500px;
    background-color: white;
    margin: 20px 8px;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s ease-in-out;
    position: relative;
    bottom: 60px;
}

.box1:hover{
    height: 250px;
    background-color: blue;
    color: white;
    font-weight: bold;
 

}

  
     .imgSvg{
       
        text-align: center;
        background-color: rgba(0, 0, 255, 0.662);
        padding: 12px;
        border-radius: 50px; 
        color: white;
     }
      .webdesign{
         font-size: 30px;
        margin-top: 10px;
         
     }
     .wetext{
         font-size: 18px;
         margin-top: 10px;
         text-align: center;
       
       
     } 
     .sectionthird{
        display: flex;
        height: 300px;
      justify-content: center;
      align-items: center;
        color: white;
        justify-content: space-around;
      
     }
     .person {
         color: white;
        
   
     }
     .personNumber{
         font-size: 30px;
         margin-bottom: 10px;
         
     }
     .personText{
         font-size: 20px;
         text-align: center;
         /* margin-right: 250px; */
     }

     .sectionFour{
         display: flex;
            margin: 100px 200px;
            /* height: 700px; */
          justify-content: center;
     }
     .img2 img{
         width: 700px;
         border-radius: 20px;
         border: 1px solid black
     }
     .fourLeft{
         width: 50%;
         justify-content: center;
         align-items: center;
         margin-right: 20px;
         /* margin:  30px 150px; */

     }
     .fourRight{
         width: 50%;
       margin-left: 50px;
         
     }
     .who{
         font-size: 20px;
         color: blue;
         font-weight: bold;
     }
     .level{
         font-size: 48px;
         font-weight: bold;
         margin-top: 14px;
     }
  
     .next{
         color: blue;
     }
     .long{
   
        margin-top: 8px;
         color: gray;
         font-size: 26px;
     }
     .mission{
         font-size: 26px;
       
         margin-top: 16px;
         margin-left: 20px;
     }
     .mission li{
         margin-bottom: 10px;
         color: rgba(0, 0, 0, 0.721);
     }
     .below{
         margin-top: 10px;
     }
     .sectionFive{
        display: flex;
           margin: 100px 200px;
           /* height: 700px; */
           margin-top: 10px;
     }
     .level1{
        font-size: 48px;
    }
    .img3 img{
        width: 800px;
        border-radius: 20px;
        border: 1px solid black
    }
 .sectionsix{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 500px;
 }
 .images{
     display: flex;
    margin-top: 50px;
 }
.images img{
    margin: 20px;
    border: 1px solid black;
    width: 300px;

 }
 .teams{
     font-size: 50px;
     margin-top: 10px;
 }
 .members{
     font-size: 24px;
     width: 50%;
     text-align: center;
     margin-top: 10px;
     font-size: rgba(0, 0, 0, 0.158);
 }
 .sectionseven{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1500px;
 }
 .brands{
     display: flex;
     margin-top: 30px;
 }
 .brands p{
     margin-left: 25px;
     font-size: 20px;
     color: blue;
 }
 .card img{
     border: 1px solid black;
     margin-top: 50px;
     height: 400px;
     width: 400px;
     border-radius: 10px;

    

 }
 .btn{
     margin-top: 10px;
 }
 .description{
     font-size: 22px;
     width: 80%;
 }
 .cardsecond, .cardfirst{
     display: flex;
 }
 .sectioneight{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
 }
 .eightpart{
     display: flex;
     justify-content: space-around
    
 }
 .eightleft{
     width: 50%;
     margin-top: 30px;
 }
 .eightright{
width: 50%;
margin-top: 30px;
 }
 .accordian{
     width: 70%;
     margin: auto
 }
 .accordian li{
     list-style: none;
     width: 100%;
     margin: 20px;
     padding: 2px;
    
     border-radius: 6px;
     background: blue;
     color: black;
     /* box-shadow: 6px 6px 10px -1 rgba(0, 0, 0,0.15),
     6px 6px 10px -1 rgba(255, 255, 255,0.7) */
 }
 

 .accordian li label{
     display: flex;
     align-items: center;
     padding: 10px;
     font-size: 24px;
     font-weight: 500;
     cursor: pointer;
     color: white;
 }
 label::before{
     content:  "+";
     margin-right: 10px;
     font-size: 24px;
     font-weight: 600
 }
 input[type="checkbox"]{
     display: none
 }
 .accordian .content{
     background-color: white;
     padding: 0 10px;
     line-height: 26px ;
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.5s, padding 0.5s;
 }
 .accordian input[type = "checkbox"]:checked + label + .content{
     max-height: 400px;
     padding: 10px 10px 20px;

 }
 .accordian input[type = "checkbox"]:checked + label::before{
     content: "-"
 }
 .para ,.para2{
     font-size: 40px;
     width: 80%;
     margin-left: 20px;
     margin-top: 10px;

 }
 .para2{
     font-size: 24px;
     color: rgba(0, 0, 0, 0.759);
     line-height: 40px;
 }
 .sectionnine {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
    justify-content: center;
    /* color: white; */
 }
 .who1{
     color: white;
     margin-top: 20px;
 }
 .ninepart{
     height: 300px;
     width: 250px;
     padding: 10px 40px;
     background-color: white;
     display: flex;
     flex-direction: column;
     margin-top: 50px;
     border-radius: 40px;
     margin: 20px;
 }
 .imgnine img{
     border-radius: 150px;
 }
 .imgnine{
     margin-top: 20px;
     margin-right: 20px;
 }
 .ninepartt2{
     display: flex;
     justify-content: center;

 }
 .ninenew{
     color: white
 }

 .quote{
     font-size: 20px;
 }
 .client{
     font-size: 18px;
     margin-top: 30px;
 }
 .fafa
 {
     color: blue;
     text-align: center;
 }
 .nine{
     display: flex;
     margin: 15px;
 }
 .sectionten{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
    margin-top: 50px;
}
.cardnew{
    height: 460px;
    width: 350px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.218)
   
}
/* .tenimg{
   
} */
.tenimg img{
    width:350px;
    height: 200px;
    border-radius: 20px;
}
.blog{
    font-size: 22px;
    font-weight: bolder;
}
.quote{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.cardcontainer{
    display: flex;
  
}
.sectioneleven{
  
    background-color: rgba(127, 255, 212, 0.178);
    height: 1700px;
}
.elevenpart{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
}
.who{
    margin-top: 100px;
}
.getintouchleft{

    margin-top: 100px;
    display: flex;
    justify-content: center;


}
.elevenleftpart form{
    height: 500px;
    width: 800px;

}
span.fullname ,.sunew{
    margin: 10px;
}
.howhelp{
    margin: 10px;
}

  .check{
      display: flex;
      margin: 10px;
    
  }
  .agree{
      margin-left: 20px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.54);
      margin-bottom: 20px;
  }
  .elevenrightpart{
      margin-left: 100px;
      
  }
  .boxform{
      margin: 20px;
      width: 300px;
      height: 100px;
      padding: 32px;
      background-color: white;
      display: flex;
  }
 .fon{
      color: white;
     background-color: blue;
     padding: 10px;
     width: 50px; 
     height: 40px;
     border-radius: 10px;
     text-align: center;
 }
 .formtext{
     font-size: 20px;
     margin-left: 20px;
 }
 .callus{
     font-weight: bold;
     margin-bottom: 10px;

 }
 .get get2{
     font-weight: bolder;
 }
 .mappart{
    margin: 100px 240px;

 }
  
 .mappart iframe{
    width: 100%;
    margin: auto;
     justify-content: center;
 }
 .sectiontwelve{
     height: 400px;
   
     display: flex;
     justify-content:center;
     align-items: center;
     
     background-color: rgba(0, 0, 0, 0.944)
 }
 .below{
     display: flex;
    /* width: 70%; */
     
 }
 .dnp{
    display: flex;
    flex-direction: column;
 }
 .twelicon{
     color: blue;
    
 }
 .twelicon i{
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
   
}
 .newcom{
     color: white;
     font-size: 20px;
 }
 .company p{
     margin-bottom: 5px;
 }
 .aboutcompany{
     font-size: 22px;
     margin-bottom: 10px;
     font-weight: bolder;
 }
 ul.support {
     margin-left: 150px;
   
 }
 .support li{
    
     list-style: none;
     text-decoration: none;
     margin-bottom: 10px;
    
 }
 .support li a{
     color: white;
     font-size: 20px;
     text-decoration: none;
 
 }
 .supp{
     font-size: 24px;
     color: white;
     font-weight: bolder;
     margin-bottom: 20px;
   
 }
 .address{
     color: white;
     margin-left: 150px;

 }
 .firstadd{
     display: flex;
     margin: 20px;
 }
 .firstadd i{
     margin-right: 20px;
     color: blue;
 }
 .con{
     font-size: 20px;
 }